*.DS_Store
auth_tokens.py
*.sqlite3
db.json
Tensor.code-workspace
*.pyc
.vscode/
node_modules
env/
__pycache__/
webpack-stats.json
backend/static/js
package-lock.json
backend/static/js/*.js
*.sql
backend/tensor_site/static/admin/*
backend/tensor_site/static/markdownx/*
backend/tensor_site/static/django_tables2/*
backend/tensor_site/static/css