*/5 * * * * docker exec deployment_django_1 'python3 manage.py getserversinfos' > /dev/null 2>&1
0 * * * * docker exec deployment_django_1 'python3 manage.py getinternalstats' > /dev/null 2>&1
0 22 * * * docker exec deployment_django_1 'python3 manage.py getchampions' > /dev/null 2>&1
